{% extends 'base.html' %} {% block content %}

<h1>Posts</h1>

<ul>
  {% for post in object_list %}
  <li>
    <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> - 
    {{ post.author }}
    <small
      ><a href="{% url 'update-post' post.pk %}">edit</a
      > <a class="text-danger" href="{% url 'post_delete' post.pk %}">delete</a></small
    ><br />
    {{ post.body | safe }}
  </li>

  {% endfor %}

  
</ul>

{% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

<span class="current">
  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
</span>

{% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

{% endblock %}
